<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png?v=yyQBrYnP8m">
<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png?v=yyQBrYnP8m">
<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png?v=yyQBrYnP8m">
<link rel="manifest" href="/icons/site.webmanifest?v=yyQBrYnP8m">
<link rel="mask-icon" href="/icons/safari-pinned-tab.svg?v=yyQBrYnP8m" color="#f68a22">
<link rel="shortcut icon" href="/icons/favicon.ico?v=yyQBrYnP8m">
<meta name="apple-mobile-web-app-title" content="The Student Report">
<meta name="application-name" content="The Student Report">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/icons/browserconfig.xml?v=yyQBrYnP8m">
<meta name="theme-color" content="#f68a22">
<meta content="The Student Report" property="og:site_name">
{% if page.title %}
  <meta content="{{ page.title }}" property="og:title">
{% else %}
  <meta content="The Student Report" property="og:title">
{% endif %}
{% if page.title %}
  <meta content="article" property="og:type">
{% else %}
  <meta content="website" property="og:type">
{% endif %}
{% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
{% endif %}
{% if page.img %}
  <meta content="{{ page.img }}" property="og:image">
{% else %}
  <meta content="/icons/opengraph.png" property="og:image">
{% endif %}