@import url('https://fonts.googleapis.com/css?family=Sarabun:400,700&display=swap&subset=latin-ext');

.navbar *{
  margin: 0;
  padding: 0;
}

.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 5px 0vw; 
  overflow: hidden;
  background-color: white;
  font-family: 'Sarabun', sans-serif;
  font-weight: bold;
  font-size: 4vw;
  text-align: center;
}

.navbar li{
  display: inline-table;
  height: 5vh;
  min-height: 20px;
}

.navbar li:not(.logoli) a:hover{
  text-decoration: underline;
}

.navbar li:not(.logoli) a{
  display: table-cell;
  color: black;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  padding: 2.5vw 5vw;
}

.navbar svg{
  width: 80vw;
  height: auto;
  min-height: 50px;
  display: inline-block;
  max-width: none;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
}


@media (min-width: 550px) and (max-width: 767px){

  .navbar ul{
    padding: 10px 5vw; 
    font-size: 13px;
    text-align: left;
  }

  .navbar svg{
    height: 3vh;
    min-height: 40px;
    width: auto;
  }
  .navbar li{
    height: 3vh;
    min-height: 40px;
  }

  .navbar li:not(.logoli) a {
    padding: 0 1.5vw;
  }

  .navbar .logoli{
    float: none;
  }

  .navbar .innerdiv{
    float: right;
  }

  .navbar br{
    display: none;
  }

  }

@media (min-width: 767px) and (max-width: 1200px){

  .navbar ul{
    padding: 10px 6vw; 
    font-size: 16px;
    text-align: left;
  }

  .navbar svg{
    height: 5vh;
    min-height: 50px;
    width: auto;
  }
  .navbar li{
    height: 5vh;
    min-height: 50px;
  }

  .navbar li:not(.logoli) a {
    padding: 0 2vw;
  }

  .navbar .logoli{
    float: none;
  }

  .navbar .innerdiv{
    float: right;
  }

  .navbar br{
    display: none;
  }

  }

@media (min-width: 1200px) and (max-width: 2000px) {

  .navbar ul{
    padding: 10px 10vw; 
    font-size: 20px;
    text-align: left;
  }

  .navbar li {
    height: 8vh;
    min-height: 50px;
  }
  .navbar svg{
    height: 8vh;
    width: auto;
  }

  .navbar li:not(.logoli) a {
    padding: 0 2vw;
  }

  .navbar .logoli{
    float: none;
  }

  .navbar .innerdiv{
    float: right;
  }

  .navbar br{
    display: none;
  }

  }

@media (min-width: 2000px) {


  .navbar ul{
    padding: 10px 10vw; 
    font-size: 2em;
    text-align: left;
  }

  .navbar li {
    height: 8vh;
    min-height: 50px;
  }
  .navbar svg{
    height: 8vh;
  }

  .navbar li:not(.logoli) a {
    padding: 0 2vw;
  }

  .navbar .logoli{
    float: none;
  }

  .navbar .innerdiv{
    float: right;
  }

  .navbar br{
    display: none;
  }
}