<meta content="The Student Report" property="og:site_name">
{% if page.title %}
  <meta content="{{ page.title }}" property="og:title">
{% else %}
  <meta content="The Student Report" property="og:title">
{% endif %}
{% if page.title %}
  <meta content="article" property="og:type">
{% else %}
  <meta content="website" property="og:type">
{% endif %}
{% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
{% endif %}
{% if page.image %}
  <meta content="{{ page.image }}" property="og:image">
{% else %}
  <meta content="/img/android-chrome-256x256.png" property="og:image">
{% endif %}