---
---

@import "{{ site.theme }}";

#main_content_wrap {
    background: #F68A22;
    border-top: none;
}

*{
	font-family: 'Sarabun', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
	color: white;
}

@import "https://fonts.googleapis.com/css?family=Sarabun:400,700&display=swap&subset=latin-ext";.navbar *{margin:0;padding:0}.navbar ul{list-style-type:none;margin:0;padding:5px 0;overflow:hidden;background-color:#fff;font-family:'Sarabun',sans-serif;font-weight:700;font-size:4vw;text-align:center}.navbar li{display:inline-table;height:5vh;min-height:20px}.navbar li a:hover{text-decoration:underline}.navbar li a{display:table-cell;color:#000;text-align:center;vertical-align:middle;text-decoration:none;padding:2.5vw 5vw}.navbar img{height:8vh;min-height:50px;display:inline-block;max-width:none;border:none;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none;-ms-box-shadow:none}@media (min-width: 500px) and (max-width: 767px){.navbar ul{padding:10px 5vw;font-size:13px;text-align:left}.navbar img{height:3vh;min-height:40px}.navbar li{height:3vh;min-height:40px}.navbar li a{padding:0 1.5vw}.navbar .logoli{float:none}.navbar .innerdiv{float:right}.navbar br{display:none}}@media (min-width: 767px) and (max-width: 1200px){.navbar ul{padding:10px 6vw;font-size:16px;text-align:left}.navbar img{height:5vh;min-height:50px}.navbar li{height:5vh;min-height:50px}.navbar li a{padding:0 2vw}.navbar .logoli{float:none}.navbar .innerdiv{float:right}.navbar br{display:none}}@media (min-width: 1200px) and (max-width: 2000px){.navbar ul{padding:10px 10vw;font-size:20px;text-align:left}.navbar li{height:8vh;min-height:50px}.navbar img{height:8vh}.navbar li a{padding:0 2vw}.navbar .logoli{float:none}.navbar .innerdiv{float:right}.navbar br{display:none}}@media (min-width: 2000px){.navbar ul{padding:10px 10vw;font-size:2em;text-align:left}.navbar li{height:8vh;min-height:50px}.navbar img{height:8vh}.navbar li a{padding:0 2vw}.navbar .logoli{float:none}.navbar .innerdiv{float:right}.navbar br{display:none}}