<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">	
    {% include favicons.html %}
    <title>{{page.title}}</title>
  </head>

  <body>
    
    {% include navbar.html %}
    
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <div class="viddiv"><iframe class="podcastvid" src="{{page.podembed}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        {% if page.epno < "5" %}
        <h1>{{ page.epname}} - {{ page.guestname}}</h1>
        {% else %}
        <h1>{{page.podname}}</h1>
        {% endif %}
        <h3>The Student Report Podcast - Episode {{page.epno}}</h3>
        {{content}}
        <h1><a href="{{page.podcastlink}}">-Watch the full video!-</a></h1>
      </section>
    </div>

   {% include footer.html %}

  </body>
</html>
